<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingzi.securityJwt.dao.UmsAdminRoleRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingzi.securityJwt.model.entity.UmsAdminRoleRelation">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <select id="findRoleByAdminId" resultType="com.yingzi.securityJwt.model.entity.UmsRole">
        select
            ur.role_id as id,
            r.name,
            r.description,
            r.admin_count,
            r.create_time,
            r.status,
            r.sort
        from ums_admin_role_relation ur
        left join ums_role r on ur.role_id = r.id
        where ur.admin_id = #{adminId}
    </select>

</mapper>
